//Menu skeleton

.nav-menu{
    width: 100%;
    height: 56px;
    display: flex;
}

.nav-menu-option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}