//MenuPlaces skeleton

.nav-menu{
    width: 100%;
    height: 56px;
    display: flex;
}

.nav-menu-option{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-title{
    width: 100%;
    height: auto;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-title-h1{
    margin-bottom: 8px;
}

.dish-categories{
    padding: 0 16px 0 16px;
}

.dish-category-menu{
    margin-top: 42px;
}