//Orders skin

.orders-title {
    color: var(--black);
}

.orders-empty {
    text-align: center;
    color: var(--common-body);
}

.btn-order {
    color: var(--positive);
    text-decoration: underline;
}