//Profile skeleton

.profile-container-top{
    width: 100%;
    height: auto;
    padding: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomeGreet{
    margin-bottom: 2px;
}

.profile-name{
    margin-bottom: 56px;
}

.profile-text-pedidos-realizados{
    margin-bottom: 8px;
}

.profile-container-bottom{
    width: 100%;
    height: auto;
    padding: 32px;
}

.profile-text-detail{
    margin-bottom: 8px;
}

.profile-detail{
    margin-bottom: 24px;
}

.btn-log-out {
    width: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.text-log-out{
    margin-bottom: 4px;
}