//Header skin

.header {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-foodaneo {
    background: #F7F7F7;
    background-image: url('../../../assets/img/title-foodaneo.svg');
    background-position: center;
    background-repeat: no-repeat;
}