//Home skin

.CTA {
    background-image: url('../../assets/img/CTA.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CTA-message {
    background: transparent;
    color: var(--white-over-green);
}

.btnCTAOrder {
    background: var(--green-gradient);
    color: var(--white-over-green);
    text-align: center;
}

.dish-category-menu {
    margin-top: 48px;
}

.dish-category {
    color: var(--bold-text);
}

.dish-description {
    color: #727272;
}

.btn-view-all {
    font-family: basier_circleregular;
    font-size: 16px;
    color: var(--black);   
}