//Home skin

.CTA {
    background-image: url('../../assets/img/CTA.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CTA-message {
    background: transparent;
    color: var(--white-over-green);
}

.btnCTAOrder {
    background: var(--positive);
    color: var(--white-over-green);
    text-align: center;
}

.btn-view-all {
    font-family: basier_circleregular;
    font-size: 16px;
    color: var(--black);   
}