//Cart skeleton

.cart{
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

.cart-container{
    width: 100%;
    height: 100%;
    padding: 16px;
}

.cart-header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cart-title-articles{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.cart-subtotal-container{
    display: flex;
    justify-content: right;
    margin-bottom: 32px;
}

.btn-option-cart{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.cart-empty {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}