//Cart skin

.cart-container{
    background-color: white;
}

.text-shopping-cart{
    font-family: basier_circlemedium;
    font-size: 18px;
    color: #363636;
}

.cart-title-articles{
    font-family: basier_circlesemibold;
    font-size: 14px;
    color: #363636;
}

.slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}