//Cart skin

.slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

.cart-container {
    background-color: white;
}

.text-shopping-cart {
    color: var(--bold-text);
}

.cart-title-articles {
    color: var(--foodaneo);
}

.cart-article-note {
    color: var(--unknown-gray);
}