//Cart skin

.slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

.cart-container {
    background-color: white;
}

.text-shopping-cart {
    color: var(--bold-text);
}

.cart-title-articles {
    color: var(--positive);
}

.cart-subtotal-text{
    color: var(--bold-text);
}

.cart-subtotal{
    color: var(--positive);
}

.btn-option-cart{
    border: 1px solid var(--black);
    border-radius: 4px;
}

.btn-add-articles{
    color: var(--bold-text);
}

.btn-finish-order{
    background-color: var(--black);
    color: var(--white-over-green);
}

.cart-empty-text {
    color: var(--placeholder);
    text-align: center;
}