//CartArticleCard skin

.cart-article-title{
    color: var(--bold-text);
}

.cart-article-price {
    color: var(--bold-text);
}

.cart-article-note {
    color: var(--kinda-bold-text);
}

.delete-article {
    color: var(--wrong);
    border: 1px solid var(--line);
    border-radius: 40px;
}