//Menu skin

.nav-menu{
    font-family: basier_circlemedium;
    font-size: 14px;
}

.nav-menu-option{
    color: var(--unactive-icons);
}

.nav-menu-option-active{
    border-bottom: 2px solid var(--foodaneo);
    color: var(--foodaneo);
}

.menu-title{
    text-align: center;
}

.menu-title-h1{
    color: var(--bold-text);
}

.menu-title-p{
    font-family: basier_circleregular;
    font-size: 16px;
    color: var(--common-body);
}

.dish-category{
    color: var(--bold-text);
}

.btn-view-all{
    font-family: basier_circleregular;
    font-size: 16px;
    color: var(--black);   
}