//Menu skin

.nav-menu{
    background-color: #FFFFFF;
    font-family: basier_circlemedium;
    font-size: 14px;
}

.nav-menu-option{
    color: #C4C4C4;
    text-decoration: none;
}

.nav-menu-option-active{
    border-bottom: 2px solid black;
    color: #363636;
}

.menu-title{
    color: #818181;
    text-align: center;
}

.menu-title-h2{
    font-family: silkamedium;
    font-size: 22px;
}

.menu-title-p{
    font-family: basier_circleregular;
    font-size: 16px;
}

h3[class="dish-category"]{
    font-family: basier_circlemedium;
    font-size: 20px;
    color: #363636;
}