*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF
}

// .opacity30{
//     opacity: 0.3;
// }

// import modules

// fonts
@import '../assets/fonts/Silka-Roman-Webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-medium-webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-semibold-webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-regular-webfont/stylesheet.css';

// DefaultLayout
@import 'DefaultLayout/nav/skin';
@import 'DefaultLayout/nav/skeleton';

// Home
@import 'Home/skin';
@import 'Home/skeleton';

//MenuDishes
@import 'MenuDishes/skin';
@import 'MenuDishes/skeleton';
