:root {
    --navbar-background: #FDFDFD;
    --white-over-green: #F8FFF8;
    --bold-text: #495057;
    --positive: #34B680;
    --lighter-body: #818181;
    --foodaneo: #58C755;
    --unactive-icons: #C4C4C4;
    --common-body: #676767;
    --black: #363636;
    --text-box: #BDBDBD;
    --kinda-bold-text: #818181;
    --placeholder: #BDBDBD;
    --disabled: #EEEEEE;
    --disabled-text: #CBCBCB;
    --wrong: #E50000;
    --line: #E4E4E4;
    --ticket-background: #FBFBFB;
    --green-gradient: linear-gradient(270deg, #FFE600 -17.34%, #34C94C 24.61%, #34B680 73.55%, #34A5C9 122.5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF
}

.h1 {
    font-family: silkasemibold;
    font-size: 30px;
}

.h2 {
    font-family: silkamedium;
    font-size: 24px;
}

.h3 {
    font-family: basier_circlemedium;
    font-size: 20px;
}

.h4 {
    font-family: basier_circlemedium;
    font-size: 18px;
}

.h5 {
    font-family: basier_circlesemibold;
    font-size: 16px;
}

.h6 {
    font-family: basier_circlesemibold;
    font-size: 14px;
}

.body {
    font-family: basier_circleregular;
    font-size: 16px;
}

.small-body {
    font-family: basier_circleregular;
    font-size: 12px;
}

.medium-body {
    font-family: basier_circleregular;
    font-size: 14px;
}

.small-links {
    font-family: basier_circlemedium;
    font-size: 14px;
}

.button {
    font-family: silkasemibold;
    font-size: 16px;
}

.primary-nav-link {
    font-family: silkasemibold;
    font-size: 16px;
}

.price-tag {
    font-family: basier_circlemedium;
    font-size: 14px;
}

.discounted-price-tag {
    font-family: basier_circleregular;
    font-size: 14px;
    text-decoration: line-through;
}

.log-in-text {
    font-family: basier_circleregular;
    font-size: 24px;
}

.counter {
    font-family: basier_circleregular;
    font-size: 20px;
}

a {
    text-decoration: none;
}

::placeholder {
    color: var(--placeholder);
    opacity: 1; /* Firefox */
}

.navigation-space {
    height: 96px;
}

// Fonts
@import '../assets/fonts/Silka-Roman-Webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-medium-webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-semibold-webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-regular-webfont/stylesheet.css';