*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF
}

.navigation-space{
    height: 96px;
}

// .opacity30{
//     opacity: 0.3;
// }

// Fonts
@import '../assets/fonts/Silka-Roman-Webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-medium-webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-semibold-webfont/stylesheet.css';
@import '../assets/fonts/Basier Circle Webfont/Basier-Circle-regular-webfont/stylesheet.css';