//DishCard skin

.dish-card {
    border-bottom: #E4E4E4 solid 1px;
}

.dish-card:first-of-type {
    border-top: #E4E4E4 solid 1px;
}

.dish-title {
    color: var(--positive);
}

.dish-description {
    color: var(--bold-text);
}

.dish-location {
    color: var(--lighter-body);
}

.dish-price {
    color: var(--positive);
}