//PlaceCard skin

.place-image{
    border-radius: 4px;
}

.place-name{
    color: var(--bold-text);
}

.place-status-open{
    color: var(--positive);
}

.place-status-close{
    color: var(--wrong);
}