//Nav skin

.nav-container{
    background-color: #F7F7F7;
    font-family: basier_circleregular;
    font-size: 12px;
    color: #727272;
}

.nav-option{
    background-color: transparent;
    color: #363636;
}

.nav-option-picture{
    background-color: transparent;
    filter: invert(72%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(107%) contrast(98%);
}

.nav-option-picture-active{
    background-color: linear-gradient(270deg, #FFE600 -17.34%, #34C94C 24.61%, #34B680 73.55%, #34A5C9 122.5%);
}

.nav-option-title{
    background-color: transparent;
}